<!-- Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/users/welcome">EXPENSE TRACKER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/register">SignUp</a>
      </li>
    </ul>
  </div>
</nav>

<!--Login form-->
<div class="row mt-5 mr-auto" style="margin-left: 5px;">
    <div class="col-md-6 m-auto" style="overflow-x: hidden;">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
            <%- include ("./partials/messages") %>
            <form action="/users/login" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="lead mt-4">
              No Account? <a href="/users/register">Register</a>
            </p>
        </div>
    </div>
</div>

<!--Footer-->
<footer class="page-footer font-small pt-4" id="about" style="background-color: #eeeeee; margin-top:20px;">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">About the developer</h5>
        <p>Shrinidhi T S<br>I am a computer science undergraduate.<br>Programmer | Full Stack Web developer.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:shrinidhits1208@gmail.com">Mail me</a>
          </li>
          <li>
            <a href="https://github.com/shrinidhits" target="_blank">Github profile</a>
          </li>
          <li>
            <a href="">My website</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/shrinidhi-t-s-2601b61a5/" target="_blank">Connect with me on LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <h5>Shrinidhi T S</h5>
  </div>
</footer>