<!-- Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="">EXPENSE TRACKER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/register">SignUp</a>
      </li>
    </ul>
  </div>
</nav>

<!--Introduction-->
<div class="jumbotron">
    <h1 class="display-3">Expense Tracker</h1>
    <p class="lead">This is a web app to track your expenses.</p>
    <hr class="my-4">
    <p>Become responsible, manage your money!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/users/register" role="button">Register Now</a>
    </p>
</div>

<!--Footer-->
<footer class="page-footer font-small pt-4" id="about" style="background-color: #eeeeee; margin-top:20px;">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">About the developer</h5>
        <p>Shrinidhi T S<br>I am a computer science undergraduate.<br>Programmer | Full Stack Web developer.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:shrinidhits1208@gmail.com">Mail me</a>
          </li>
          <li>
            <a href="https://github.com/shrinidhits" target="_blank">Github profile</a>
          </li>
          <li>
            <a href="">My website</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/shrinidhi-t-s-2601b61a5/" target="_blank">Connect with me on LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <h5>Shrinidhi T S</h5>
  </div>
</footer>